In [4]:
# Initial imports
import os
import requests
import numpy as np
import pandas as pd
import hvplot.pandas
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
import matplotlib.pyplot as plt

%matplotlib inline


#Load .env environment variables
load_dotenv()


# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")
# Verify that Alpaca key and secret were correctly loaded
print(f"Alpaca Key type: {type(alpaca_api_key)}")
print(f"Alpaca Secret Key type: {type(alpaca_secret_key)}")


# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2")



# Set the tickers
ticker = ["AMZN"]
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"
# From Alpaca API
# The resolution of time window. 1Min, 5Min, 15Min, 1H, or 1D. If omitted, 
# 1Min for less than 7 days period, 15Min for less than 30 days, or otherwise 1D.

# Format start and end dates as ISO format for one year period
start = pd.Timestamp("2016-09-15", tz="America/New_York").isoformat()
end = pd.Timestamp("2021-09-15", tz="America/New_York").isoformat()

# Get closing prices for FB and TWTR from the last year
faangm_portfolio_df_ = alpaca.get_barset(
    ticker,
    timeframe,
    start = start,
    end = end,
    limit = 1000
).df

# Display sample data
faangm_portfolio_df_.head(10)


#Create and empty DataFrame for closing prices
faangm_closing_return_df_ = pd.DataFrame()

# Fetch the closing prices of FB and TWTR
faangm_closing_return_df_["AMZN"] = faangm_portfolio_df_["AMZN"]["close"]

# Drop the time component of the date
faangm_closing_return_df_.index = faangm_closing_return_df_.index.date

faangm_closing_return_df_.to_csv("AMZN.csv")

# Display sample data
faangm_closing_return_df_.head(10)

Alpaca Key type: <class 'str'>
Alpaca Secret Key type: <class 'str'>

              AMZN
2017-09-26  938.59
2017-09-27  950.88
2017-09-28  956.40
2017-09-29  960.49
2017-10-02  958.79
2017-10-03  957.06
2017-10-04  965.47
2017-10-05  981.14
2017-10-06  989.51
2017-10-09  990.99